

.App {
  text-align: center;
}

.input-form {
  display: flex;
  flex-direction: column;
  width: 90vw;
 line-height: 2rem; 
}

input {
  line-height: 2rem;
  padding: 0.5rem 1rem;
  width: 20rem;
  font-size: 1.3rem;
}

button {
  margin-top: 1.5rem;
  padding: 1.5rem;
}

button:hover {
  cursor: pointer;
}
